{% extends 'layout.html' %}

{% block title %}
    TurView: main
{% endblock %}

{% block body %}
    <div>
        <a href="/history" class="right_justified">TurView History</a>
    </div>
    <div>
        <img src="../static/TurView-logo.png" alt="logo" class="index_logo">
    </div>
    <div>
        <form action="/register" method="get">
            <input type="submit" value="Start Interview" name="start" class="btn btn-secondary btn-primary" id="button">
        </form>
    </div> 
{% endblock %}